@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	display: grid;
	place-items: center;
	background: #f4f4f4;
	min-height: 100vh;
}

.form {
	padding: 2rem;
	max-width: 400px;
	width: 90%;
	background: white;
	border-radius: 10px;
}

label {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

label span {
	color: red;
	font-size: 1.2rem;
}

input {
	display: block;
	font-family: inherit;
	width: 100%;
	padding: 0.5rem;
	border-radius: 5px;
	border: 1px solid #e4e4e4;
}

.btn {
	display: block;
	width: 100%;
	border: 1px solid #e4e4e4;
	font-family: inherit;
	font-weight: 500;
	font-size: 1.3rem;
	padding: 1rem 2.5rem;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	opacity: 0.8;
}

.form__control {
	margin-bottom: 1rem;
}

.error {
	border-color: crimson;
}

.success {
	border-color: green;
}

.nameError,
.emailError,
.passwordError {
	color: crimson;
}
